html {
  background-color: rgb(4, 13, 31);
}
body {
  background: url("./images/contactmeimg.jpeg") no-repeat center center fixed;
}

.App {
  max-width: 1440px;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main";
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.errorhandlemain {
  color: red;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  background-color: #dae0e6;
}
.nav {
  text-align: center;
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.nav label {
  color: rgb(240, 173, 4);
  padding-top: 18px;
  font-size: 120%;
  font-weight: bold;
}

.nav button {
  width: 100%;
  padding: 16px 32px;
  font-size: 13px;
  font-style: oblique;
  margin: 4px 2px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: beige;
  color: black;
  border: 2px solid #555555;
}
.nav button:hover {
  background-color: rgb(240, 173, 4);
  color: black;
}
.titleheader {
  box-sizing: border-box;

  text-align: center;
  grid-area: header;
  padding: 20px 10px;
  font-style: oblique;
  color: rgb(240, 173, 4);
}
.main {
  grid-area: main;
}
.routermain {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.usersMain {
  box-sizing: border-box;
  border-style: solid;
  border-color: skyblue;
  font-size: 20px;
  font-style: oblique;
  padding: 16px 16px;
  background-color: beige;
}
.userdrop {
  width: 100%;
  font-style: oblique;
}
.sign-io-btn {
  width: 100%;
  padding: 16px 32px;
  font-size: 16px;
  font-style: oblique;
  margin: 4px 2px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: beige;
  color: black;
  border: 2px solid #555555;
}
.sign-io-btn:hover {
  background-color: rgb(240, 173, 4);
  color: beige;
}
.signup {
  text-align: right;
}

.crteurinput {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-color: rgb(240, 173, 4);
  background: beige;
}
.crteurinput:focus {
  border: 3px solid skyblue;
}
.createbtn {
  background-color: black;

  color: rgb(240, 173, 4);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 32.3%;
  opacity: 1;
}
.createbtn:hover {
  opacity: 2;
}
.commentinput {
  padding-top: 10px;
  background-color: black;
  border-style: ridge;
}
.commentinput button {
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 1px;
  border-style: groove;
  border-color: rgb(240, 173, 4);
  background-color: black;
  text-align: center;
  color: rgb(240, 173, 4);
}
.commentinput h2 {
  font-style: oblique;
  color: rgb(240, 173, 4);
  padding-left: 5px;
}
.cominput {
  width: 100%;
  background-position: 10px 10px;
  box-sizing: border-box;
  padding: 12px 20px 12px 40px;
  border-color: rgb(240, 173, 4);
}
.cominput:focus {
  border: 3px solid black;
}
.commentsbody {
  padding-bottom: 10px;
  background-color: beige;
}
.commentsbody h6 {
  font-style: oblique;
  font-weight: bold;
  color: #555555;
}

.artmain {
  display: grid;
  grid-template-areas: "art art";
  box-sizing: border-box;
}
.artmain .sortmain {
  padding-top: 10px;
  padding-left: 10px;
  font-style: oblique;
  font-weight: bold;
  background-color: #dae0e6;
}
.artmain .sortmain select {
  font-style: oblique;
}
.artmain .sortmain p {
  text-align: left;
}
.artmain .sortmain a {
  color: black;
  font-weight: lighter;
  text-align: left;
  text-decoration-color: rgb(240, 173, 4);
}
.artCard {
  grid: art;
  flex-direction: column;
  justify-content: flex-start;

  color: rgb(13, 37, 47);
  background-color: #dae0e6;
  font-style: oblique;
  padding: 5px 5px 5px 5px;
}
.artCard a {
  text-decoration: none;
  color: black;
}
.artCard p {
  font-weight: bold;
  padding-left: 15px;
}
.artCard ul {
  text-decoration: none;
  font-weight: lighter;
  color: black;
}
.arth2 {
  padding: 10px;
}
.bodycard {
  background-color: #dae0e6;
}
.bodycard h2 {
  font-style: oblique;
  color: black;
}
.bodycard h5 {
  font-style: oblique;
  font-weight: bold;
  color: gray;
}
.bodycard a {
  text-decoration-style: dotted;
}
@media (max-width: 425px) {
  .titleheader {
    float: none;
    display: Block;
    font-size: 50%;
  }
  .nav {
    display: grid;
    position: relative;
    font-size: 50%;
  }
  .nav button {
    font-size: 50%;
    position: relative;
  }
  .nav label {
    font-size: 100%;
    position: relative;
  }

  .usersMain {
    font-size: 80%;
    position: center;
  }
  .sign-io-btn {
    font-size: 80%;
    position: relative;
  }
  .createbtn {
    font-size: 80%;
    position: relative;
  }
  .crteurinput {
    font-size: 80%;
    position: relative;
  }
  .userdrop {
    font-size: 80%;
    position: relative;
  }
  .artmain {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }
  .artCard {
    font-size: 80%;
  }
  .bodycard h2 {
    font-size: 90%;
    font-style: oblique;
  }
  .artvote button {
    font-size: 80%;
  }
  .commentinput h2 {
    font-size: 90%;
  }
  .commentinput button {
    font-size: 75%;
  }
  .commentvotes button {
    font-size: 75%;
  }
  .commentvotes {
    font-size: 80%;
  }
  .delbtn {
    font-size: 70%;
  }
}
