.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main";
  /* grid-template-rows: 100px auto;
  grid-template-columns: 100px auto; */
}

.nav {
  text-align: center;
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.titleheader {
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
  text-align: center;
  grid-area: header;
  font-size: large;
  display: flex;
  justify-content: center;
  border-style: ridge;
  padding: 25px;
}
/* .titlehead {
  grid-area: header;
} */

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.cominput {
  width: 100%;
  background-position: 10px 10px;
  box-sizing: border-box;
  padding: 12px 20px 12px 40px;
}
.cominput:focus {
  border: 3px solid #555;
}

.users-select {
  position: ;
}
